<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{:: main}) }">

<body>

<main>
    <form th:action="@{/security/login}" method="post" class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Shopping cart login</div>
            <div class="panel-body">
                <div class="form-group">
                    <div>User name</div>
                    <input name="username" class="form-control">
                </div>
                <div class="form-group">
                    <div>Password</div>
                    <input name="password" class="form-control">
                </div>
                <div class="form-control">
                    <label for="" class="checkbox-inline">
                        <input type="checkbox" name="remember" id="">Remember ?
                    </label>
                </div>

            </div>

            <div class="panel-footer text-right">
                <i class="pull-left text-danger" th:text="${message}"></i>
                <button class="btn btn-success">Login</button>

            </div>
        </div>
    </form>
</main>
</body>
</html>

